{% extends "base.html" %}


{% block namemenu %}
<h1 class="m-0">Dashboard > Edit</h1>
{% endblock %} 



{% block content %}

 
<div class="card card-primary card-outline">
 
  
{% for row in rows %}

<!-- Button trigger modal -->


<form  action = "/customers/update/{{ row[0] }}"   method = "post"  >
                    <!--begin::Body-->
                    <div class="card-body">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">ID</label>
                        <input
                          class="form-control"
                          name="ID"   
                          disabled
                          value = "{{ row[0] }}"  />


                        <label for="exampleInputEmail1" class="form-label">Company Name</label>
                        <input
                          class="form-control"
                          name="customername"   
                          value = "{{ row[1] }}"  />


                       <label for="exampleInputEmail1" class="form-label">Tax ID</label>
                        <input
                          class="form-control"
                          name="taxid"        
                          value="{{  row[2]  }}" 
                        />




                       <label for="exampleInputEmail1" class="form-label">Address</label>
                        <input
                          class="form-control"
                          name="address"        
                          value="{{  row[3]  }}" 
                        />



                        

                       <label for="exampleInputEmail1" class="form-label">Phone</label>
                        <input
                          class="form-control"
                          name="phone"        
                          value="{{  row[4]  }}" 
                        />

                      
  
              

                      </div>
                 
       
                    <!--end::Body-->
                    <!--begin::Footer-->
                    <div class="card-footer">
                      <button type="submit"  class="btn btn-primary">Submit</button>
                    </div>
            
                           
                    <!--end::Footer-->
                </form>


 
{% endfor %}
 




</div>




{% endblock %}