{% extends "base.html" %} 

{% block namemenu %}
<h1 class="m-0">Search Contact Notes</h1>
{% endblock %} 


{% block content %}



<div class="card card-primary card-outline">
  <div class="card-body">
    <div class="mb-3">
      {% for row in rows %}
      <label for="exampleInputEmail1" class="form-label"
        ><p>Customer : {{ row[0] }}</p>
        <p>Address : {{ row[1] }}</p>
        <span>Phone : {{ row[2] }} </span>
         </label>
        {% endfor %}     
    </div>
  </div>
</div>


  <p>{{ lenrows}}</p> 


{% for note in notes %}
<div class="card card-primary card-outline">
  <div class="card-body">
    <div class="mb-3">
      <lable for="exampleInputEmail1" class="form-label">
        <p>บันทึกเมื่อ : {{ note[1] }} {{ note[2] }}</p>
        <span> Hello {{ note[0] }} </span>
      </lable>
    </div>
  </div>

</div>


{% endfor %}

<!-- Button trigger modal -->

{% endblock %}
